In [138]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
from scipy.stats import skew,kurtosis
import seaborn as sns
from scipy.stats import norm

In [139]:
def get_data(symbol):
    df = pd.read_csv("{}".format(symbol),index_col="Date",parse_dates=True)
    return df['Close']

def port_ret(weights,returns):
    return np.sum(returns.mean()*weights)*252

def port_vol(weights,returns):
    return np.sqrt(np.dot(weights.T,np.dot(returns.cov()*252,weights)))



for symbol in ['AAPL.csv','JNJ.csv','XOM.csv']:
    if symbol == 'AAPL.csv':
        d1 = get_data(symbol)
    elif symbol == 'JNJ.csv':
        d2 = get_data(symbol)
    elif symbol == 'XOM.csv':
        d3 = get_data(symbol)
    

dict = {'AAPL':d1,
        'JNJ':d2,
        'XOM':d3}
df0 = pd.DataFrame(dict)
df0['AAPL'] = pd.to_numeric(df0['AAPL'])
df0['JNJ'] = pd.to_numeric(df0['JNJ'])
df0['XOM'] = pd.to_numeric(df0['XOM'])

df0

                  AAPL         JNJ         XOM
Date
2021-04-23  134.320007  165.520004   55.570000
2021-04-26  134.720001  164.119995   55.680000
2021-04-27  134.389999  163.179993   56.410000
2021-04-28  133.580002  161.979996   58.110001
2021-04-29  133.479996  164.199997   58.939999
...                ...         ...         ...
2023-04-17  165.229996  165.669998  114.699997
2023-04-18  166.470001  161.009995  116.940002
2023-04-19  167.630005  162.529999  116.570000
2023-04-20  166.649994  163.580002  115.639999
2023-04-21  165.020004  162.690002  116.010002

[503 rows x 3 columns]

In [140]:
port_df = np.log(df0/df0.shift(1))
port_df.dropna()

                AAPL       JNJ       XOM
Date
2021-04-26  0.002973 -0.008494  0.001978
2021-04-27 -0.002453 -0.005744  0.013025
2021-04-28 -0.006045 -0.007381  0.029691
2021-04-29 -0.000749  0.013612  0.014182
2021-04-30 -0.015249 -0.008993 -0.029267
...              ...       ...       ...
2023-04-17  0.000121 -0.001026 -0.011701
2023-04-18  0.007477 -0.028531  0.019341
2023-04-19  0.006944  0.009396 -0.003169
2023-04-20 -0.005863  0.006440 -0.008010
2023-04-21 -0.009829 -0.005456  0.003195

[502 rows x 3 columns]

In [141]:
avg_returns = port_df.mean()*252

In [142]:
volatility = port_df.std()

In [143]:
cov = port_df.cov()*252

In [144]:
corr = port_df.corr()

In [145]:
skew(port_df.dropna())

array([ 0.04147871,  0.17785273, -0.23083738])

In [146]:
skewness = pd.DataFrame(skew(port_df.dropna()),index=['AAPL','JNJ','XOM'])

In [147]:
kurt=pd.DataFrame(kurtosis(port_df.dropna()),index=['AAPL','JNJ','XOM'])

In [148]:
with pd.ExcelWriter("WQU.xlsx") as writer:
    port_df.to_excel(writer,sheet_name="Sheet 1")
    avg_returns.to_excel(writer,sheet_name="Sheet 2")
    volatility.to_excel(writer,sheet_name="Sheet 3")
    cov.to_excel(writer,sheet_name="Sheet 4")
    corr.to_excel(writer,sheet_name="Sheet 5")
    skewness.to_excel(writer,sheet_name="Sheet 6")
    kurt.to_excel(writer,sheet_name="Sheet 7")

In [149]:
weights=np.random.random(3)
weights /= np.sum(weights)
weights

array([0.16775797, 0.32066128, 0.51158075])

In [150]:
prets = []
pvol = []

for p in range(503):
    alloc = np.random.random(3)
    alloc /= np.sum(alloc)
    prets.append(port_ret(alloc,port_df))
    pvol.append(port_vol(alloc,port_df))
prets = np.array(prets)
pvol = np.array(pvol)

prets

array([ 0.15302786,  0.12111024,  0.27532836,  0.06661669,  0.08976503,
        0.05323828,  0.1714881 ,  0.05406869,  0.16219139,  0.18678271,
        0.17853744,  0.16545503,  0.16788664,  0.19153344,  0.11558911,
        0.18001847,  0.07522943,  0.16145398,  0.22267596,  0.15481564,
        0.19736001,  0.17046879,  0.21557229,  0.05182814,  0.12525297,
        0.09097113,  0.22437411,  0.10843536,  0.18879854,  0.22313036,
        0.23467057,  0.21523347,  0.14849954,  0.04280713,  0.12712713,
        0.08160621,  0.13565137,  0.10884361,  0.17090993,  0.2868319 ,
        0.12579888,  0.06869945,  0.06186483,  0.00726022,  0.20304846,
        0.16267943,  0.15130915,  0.07740707,  0.12585287,  0.1859586 ,
        0.09961203,  0.10863374,  0.14633414,  0.17033102,  0.12559672,
        0.15712009,  0.24894844,  0.15958258,  0.1364762 ,  0.0998958 ,
        0.10458883,  0.20505996,  0.10854509,  0.16845075,  0.18256007,
        0.11273588,  0.19671998,  0.24543136,  0.17455555,  0.17920527,
        0.17710387,  0.18291024,  0.23515273,  0.0922412 ,  0.04061269,
        0.15950921,  0.20557579,  0.12956595,  0.18824439,  0.22264824,
        0.12093763,  0.12329949,  0.15304009,  0.18661505,  0.19372355,
        0.14487587,  0.0624435 ,  0.16378825,  0.07509129,  0.19151764,
        0.12940588,  0.15454987,  0.2048334 ,  0.19822185,  0.16846664,
        0.15032557,  0.16949294,  0.1356611 ,  0.0806066 ,  0.19724669,
        0.16993279,  0.15409046,  0.18757467,  0.19636525,  0.09585783,
        0.09974326,  0.07360539,  0.19444035,  0.17645266,  0.17673131,
        0.14932921,  0.11270994,  0.2320134 ,  0.10454597,  0.13765327,
        0.18546988,  0.22065146,  0.10227555,  0.15498518,  0.17415703,
        0.14094839,  0.16790685,  0.19532413,  0.18238882,  0.04128634,
        0.19991717,  0.16749253,  0.16202928,  0.15881058,  0.16210071,
        0.0234596 ,  0.09168443,  0.11665951,  0.12893058,  0.08148612,
        0.29249585,  0.17781805,  0.18717317,  0.25772154,  0.19165728,
        0.11807413,  0.07976918,  0.07104641,  0.09575647,  0.1777543 ,
        0.15224054,  0.06513242,  0.1297548 ,  0.18541496,  0.12702731,
        0.11049575,  0.11638789,  0.21525704,  0.21961   ,  0.19732671,
        0.22016627,  0.11703968,  0.07855941,  0.04524977,  0.1904515 ,
        0.13677467,  0.05009575,  0.10561631,  0.17320343,  0.16682513,
        0.13019914,  0.15015666,  0.10230051,  0.23874409,  0.16141936,
        0.28820777,  0.18171964,  0.15604649,  0.14207803,  0.00889548,
        0.14130526,  0.0459714 ,  0.20424848,  0.18486772,  0.24606092,
        0.19222653,  0.15793889,  0.18362542,  0.23137826,  0.18348835,
        0.16918073,  0.15977247,  0.13844448,  0.22280221,  0.09378094,
        0.20093837,  0.27426731,  0.09837712,  0.2459677 ,  0.13842518,
        0.14915121,  0.05216497,  0.14836086,  0.08383418,  0.08424197,
        0.20438894,  0.15846211,  0.06241226,  0.13458941,  0.28336226,
        0.130733  ,  0.14619749,  0.05393449,  0.21945643,  0.22138796,
        0.16221597,  0.28037013,  0.16187304,  0.15217714,  0.13347187,
        0.06105346,  0.20019131,  0.13209972,  0.21257606,  0.19287232,
        0.20702661,  0.18840142,  0.07454183,  0.10355573,  0.23588497,
        0.19647751,  0.1305378 ,  0.21447757,  0.21661583,  0.1516367 ,
        0.19806223,  0.22229835,  0.10379956,  0.11468415,  0.16141313,
        0.08549825,  0.07609019,  0.08439502,  0.15411047,  0.09258737,
        0.1161963 ,  0.26724929,  0.14475751,  0.13924673,  0.17755936,
        0.17616627,  0.11465283,  0.1662093 ,  0.27520616,  0.17251817,
        0.10558655,  0.18231634,  0.17911202,  0.2801253 ,  0.18826247,
        0.21021696,  0.2236635 ,  0.11663073,  0.15013718,  0.13527661,
        0.12283343,  0.26890877,  0.15521819,  0.13635894,  0.09478007,
        0.26504423,  0.19835712,  0.10394097,  0.10706908,  0.12624857,
        0.14586156,  0.07162418,  0.15925691,  0.1091229 ,  0.17270049,
        0.16585991,  0.25611451,  0.09508661,  0.13416463,  0.179122  ,
        0.23939869,  0.17554084,  0.13953282,  0.13913633,  0.20318347,
        0.16255856,  0.11344986,  0.01376961,  0.19257062,  0.13001043,
        0.18888688,  0.25075359,  0.17304797,  0.19375331,  0.08289947,
        0.18720324,  0.17964934,  0.03990763,  0.0927426 ,  0.21262687,
        0.15862328,  0.1030305 ,  0.13324986,  0.14556037,  0.18862335,
        0.14697191,  0.15687196,  0.11832498,  0.14052078,  0.21732507,
        0.09366472,  0.13877649,  0.1708943 ,  0.2140795 ,  0.18479409,
        0.16271888,  0.0817596 ,  0.239176  ,  0.16193774,  0.01792387,
        0.16680192,  0.1792447 ,  0.13585356,  0.13177297,  0.12954744,
        0.15474404,  0.11587742,  0.28581034,  0.23589724,  0.12034599,
        0.14169701,  0.10181667,  0.26058775,  0.18388897,  0.15362479,
        0.10728761,  0.18000059,  0.13115373,  0.20344503,  0.17762041,
        0.15196335,  0.1817012 ,  0.23923977,  0.21273103,  0.15889802,
        0.04628912,  0.2817182 ,  0.21558766,  0.24708585,  0.27086818,
        0.16484995,  0.18204729,  0.17930072,  0.1042029 ,  0.20148176,
        0.12317856,  0.25748015,  0.26558312,  0.06069685,  0.23300996,
        0.31880991,  0.12837959,  0.17762227,  0.09483886,  0.12954985,
        0.15606187,  0.05237722,  0.18068565,  0.16718512,  0.09733645,
        0.09497425,  0.11055037,  0.22046493,  0.29558784,  0.08803885,
        0.17030936,  0.17311946,  0.17713619,  0.22586676,  0.25112439,
        0.07096772,  0.1588032 ,  0.23357695,  0.17681405, -0.00307705,
        0.15002946,  0.02623512,  0.1567256 ,  0.14969785,  0.20770253,
        0.09434306,  0.13876284,  0.20431547,  0.16720321,  0.1734872 ,
        0.08585627,  0.08684701,  0.23799364,  0.17713474,  0.23976517,
        0.24980749,  0.09091168,  0.19177706,  0.12261178,  0.10806503,
        0.11538864,  0.21598137,  0.1951943 ,  0.19133979,  0.17748022,
        0.11631184,  0.17523217,  0.14454594,  0.10810588,  0.09459696,
        0.16842889,  0.23505544,  0.12993511,  0.07579068,  0.14546025,
        0.17586019,  0.10420789,  0.08139843,  0.08702247,  0.15783214,
        0.18986767,  0.19513705,  0.21920611,  0.20638894,  0.20078022,
        0.18397951,  0.32618553,  0.24017048,  0.15519606,  0.04890313,
        0.31044134,  0.06600078,  0.16997751,  0.05315225,  0.09611753,
        0.2634855 ,  0.23051579,  0.08100529,  0.1951563 ,  0.17914007,
        0.06133522,  0.08630759,  0.15259252,  0.13921078,  0.2483045 ,
        0.16341912,  0.22004556,  0.25303343,  0.15518654,  0.21034219,
        0.1956283 ,  0.33605852,  0.16822489,  0.15688374,  0.20871581,
        0.08712654,  0.17330642,  0.1306201 ,  0.107064  ,  0.20417558,
        0.16830849,  0.19620622,  0.19876288,  0.23937847,  0.17150491,
        0.16103144,  0.19216564,  0.21035959,  0.18263991,  0.17002767,
        0.11189737,  0.10541991,  0.02873377,  0.18805219,  0.18986712,
        0.23713935,  0.10574404,  0.16107531,  0.09850777,  0.30911828,
        0.12469203,  0.14291354,  0.08821072,  0.14615513,  0.28162054,
        0.09672928,  0.09511995,  0.14078424,  0.11538129,  0.10674232,
        0.21015248,  0.15572804,  0.11650327,  0.16867402,  0.14333863,
        0.1387431 ,  0.10214506,  0.15149486])

In [151]:
port_df['Portfolio Returns']=prets.tolist()

port_df['Portfolio Volatility']=pvol.tolist()


port_df

,AAPL,JNJ,XOM,Portfolio Returns,Portfolio Volatility
Date,,,,,
2021-04-23,NaN,NaN,NaN,0.153028,0.171787
2021-04-26,0.002973,-0.008494,0.001978,0.121110,0.219418
2021-04-27,-0.002453,-0.005744,0.013025,0.275328,0.244430
2021-04-28,-0.006045,-0.007381,0.029691,0.066617,0.186363
2021-04-29,-0.000749,0.013612,0.014182,0.089765,0.211771
...,...,...,...,...,...
2023-04-17,0.000121,-0.001026,-0.011701,0.168674,0.190334
2023-04-18,0.007477,-0.028531,0.019341,0.143339,0.194061
2023-04-19,0.006944,0.009396,-0.003169,0.138743,0.165281
2023-04-20,-0.005863,0.006440,-0.008010,0.102145,0.187694
2023-04-21,-0.009829,-0.005456,0.003195,0.151495,0.180382

In [152]:
port_df['Portfolio Returns'].mean()

0.15741692725210876

In [153]:
port_df['Portfolio Returns'].std()

0.05933437108625893

In [154]:
cov = port_df.cov()*252

In [155]:
corr=port_df.corr()

In [156]:
skew(port_df['Portfolio Returns'].dropna())

0.08774884712026274

In [157]:
kurtosis(port_df['Portfolio Returns'].dropna())

-0.034953581344269846

In [158]:
with pd.ExcelWriter("New Microsoft Excel Worksheet.xlsx") as writer:
    port_df.to_excel(writer,sheet_name="Sheet 1")
    cov.to_excel(writer,sheet_name="Sheet 4")
    corr.to_excel(writer,sheet_name="Sheet 5")